html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    
}

body {
    /*border: solid;*/
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.navegacion{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.864);
}